rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /insurers/{insurer} {
      allow read: if true;
      allow write: if get(/databases/$(database)/documents/insurers/$(insurer)/users/$(request.auth.uid)).data.isAdmin
      match /products/{product} {
        allow read: if true;
        allow write: if get(/databases/$(database)/documents/insurers/$(insurer)/users/$(request.auth.uid)).data.isAdmin
      }
		}
    match /classifier/{document=**} {
      allow read: if true;
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin;
		}
    match /policies/{document=**} {
      allow read: if true;
      allow write: if true;
		}
    match /users/{document=**} {
      allow read: if true;
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin;
		}
  }
}
